* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #265a91;
}

canvas {
  display: block;
  width: 900px;
  height: 400px;
  background-color: #eee;
  margin: 20px auto;
  border-radius: 10px;
}
